html {
	font: 13px/16px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #333;
	background-color: #b9e4ff; /* Fallback for non-gradient supporting browsers */
	background-image: -webkit-gradient(
		radial, center center, 0, center center, 480, from(#fff), to(#dedede)
	);
	background-image: -moz-radial-gradient(
	    center center, #fff, #dedede
	);
	background-image: -webkit-radial-gradient(
	    center center, #fff, #dedede
	);
	background-image: radial-gradient(
	    center center, #fff, #dedede
	);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: 0;
	height: 100%;
}

header, hgroup, footer, section, article, nav {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 13px;
	font-weight: normal;
}

p {
	margin: 12px 0;
}

a, a:visited{
	color: #555;
	text-decoration: none;
}

a:hover, a:active, a:focus,
.link:hover, .link:active, .link:focus {
	border-bottom: 1px solid;
}

.form-button {
	display: inline-block;
}

button, .button {
	font-size: 13px;
	text-shadow: 0 1px 1px #000;
	line-height: 25px;
	min-height: 25px;
	color: #fff;
	display: inline-block;
	padding: 0 15px;
	border: none;
	background-color: #333;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#101010), to(#232323)
	);
	background-image: -moz-linear-gradient(
	    90deg, #101010, #232323
	);
	background-image: -webkit-linear-gradient(
	    90deg, #101010, #232323
	);
	background-image: linear-gradient(
	    90deg, #101010, #232323
	);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

button:hover, button:focus,
.button:hover, .button:focus {
	background-color: #444;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#232323), to(#444)
	);
	background-image: -moz-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: -webkit-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: linear-gradient(
	    90deg, #232323, #444
	);
	border: none;
}

button:active, .button:active {
	color: #454545;
	text-shadow: 0 -1px 0 #000;
	background-color: #111;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#000), to(#111)
	);
	background-image: -moz-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: -webkit-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: linear-gradient(
	    90deg, #232323, #444
	);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
}

button.link {
	padding: 0;
	font-size: 13px;
	text-shadow: none;
	line-height: 16px;
	min-height: 0;
	background: none;
	border: none;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.action, a:link.action {
	color: #484848;
	text-shadow: none;
	min-height: 23px;
	background-color: #111;
	background-repeat: no-repeat;
	background-position: 30px 30px, 0 0;
	background-image:
	url(../images/sprites.png),
	-webkit-gradient(
  		linear, left bottom, left top, from(#e2e5e5), to(#fefefe)
	);
	background-image:
	url(../images/sprites.png),
	-moz-linear-gradient(
	    90deg, #e2e5e5, #fefefe
	);
	background-image:
	url(../images/sprites.png),
	-webkit-linear-gradient(
	    90deg, #e2e5e5, #fefefe
	);
	background-image:
	url(../images/sprites.png),
	linear-gradient(
	    90deg, #e2e5e5, #fefefe
	);
	border: 1px solid #8f9397;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.action:hover, a:hover.action,
.action:focus, a:focus.action {
	background-color: #ececec;
	background-image:
	url(../images/sprites.png),
	-webkit-gradient(
  		linear, left bottom, left top, from(#ececec), to(#fff)
	);
	background-image:
	url(../images/sprites.png),
	-moz-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	-webkit-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	linear-gradient(
	    90deg, #fafafa, #fff
	);
	border: 1px solid #a3a3a3;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.0.5);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.action:active, a:active.action {
	color: #555;
	background-color: #ccc;
	text-shadow: none;
	background-image:
	url(../images/sprites.png),
	-webkit-gradient(
  		linear, left bottom, left top, from(#bbb), to(#ccc)
	);
	background-image:
	url(../images/sprites.png),
	 -moz-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	-webkit-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	linear-gradient(
	    90deg, #fafafa, #fff
	);
	border: 1px solid #a3a3a3;
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

a.action.edit,
.action.delete,
.action.close,
a.action.locate {
	display: inline-block;
	text-indent: -999em;
	padding: 0;
	width: 17px;
	height: 17px;
	min-height: 17px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

a.action.edit {
	background-position: 3px -88px, 0 0;
}

.action.close, .action.delete {
	background-position: 4px -116px, 0 0;
}

a.action.locate {
	position: relative;
	top: 1px;
	width: 23px;
	height: 23px;
	background-position: 2px -178px, 0 0;
}

nav ul,
form ul,
.listing {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.content h1,
.content h2,
.content h3 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.content h1 {
	font-size: 18px;
}

.content h2 {
	font-size: 16px;
}

.content h3 {
	font-size: 14px;
}

.content form {
	width: 300px;
}

.content form li {
	margin-bottom: 10px;
}

.content form .error {
	color: #ce0300;
}

.content form label,
.content form input {
	display: block;
}

.content form label {
	font-weight: bold;
	line-height: 1.5;
}

.content form input {
	border: 1px solid #ccc;
	padding: 6px 4px;
	font-size: 14px;
	width: 290px;
}

.content form .actions {
	text-align: right;
	position: relative;
}

.content form .actions .note {
	text-align: left;
	position: absolute;
	top: 0;
	margin: 0;
	line-height: 28px;
}

.header-container {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
	background-color: #333;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#101010), to(#323232)
	);
	background-image: -moz-linear-gradient(
	    90deg, #101010, #323232
	);
	background-image: -webkit-linear-gradient(
	    90deg, #101010, #323232
	);
	background-image: linear-gradient(
	    90deg, #101010, #323232
	);
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #000;
	-ms-box-shadow: 0 0 3px #000;
	-o-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
}

.header-container header {
	width: 940px;
	margin: 0 auto;
	position: relative;
	line-height: 40px;
}

.header-container h1,
.header-container h2,
.header-container h3,
.header-container nav,
.header-container nav ul,
.header-container nav li,
.header-container div,
.header-container dl,
.header-container dt,
.header-container dd {
	display: inline-block;
	margin: 0;
	text-shadow: 0 1px 0 #000;
}

.header-container,
.header-container a {
	color: #fff;
}

.header-container,
.header-container a {
	color: #fff;
}

.header-container h1 {
	position: absolute;
	left: 0;
	top: 0;
	line-height: 40px;
	font-size: 20px;
}

.header-container nav {
	margin-left: 240px;
	float: left;
}

.header-container nav li {
	margin-left: 28px;
}

.header-container nav li:first-child {
	margin-left: 0;
}

.header-container nav a {
	font-size: 14px;
}

.header-container nav a {
	font-size: 14px;
}

.header-container form {
	position: absolute;
	top: 0;
	right: 0;
}

.header-container form button {
	font-size: 12px;
}

.header-container h2,
.header-container form button {
	color: #ccc;
}

.header-container h2 {
	margin-right: 60px;
	padding: 0 10px 0 8px;
	border: 1px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	line-height: 23px;
}

.header-container h2 img {
	position: relative;
	top: 3px;
	margin-right: 2px;
}

.header-container h2,
.header-container .tasks {
	margin-top: 8px;
	float: right;
}

.header-container .tasks {
	margin-right: 14px;
	padding: 0 12px;
	line-height: 25px;
	background-color: #000;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#111), to(#000)
	);
	background-image: -moz-linear-gradient(
	    90deg, #111, #000
	);
	background-image: -webkit-linear-gradient(
	    90deg, #111, #000
	);
	background-image: linear-gradient(
	    90deg, #111, #000
	);
	-webkit-border-radius: 12.5px;
	-moz-border-radius: 12.5px;
	-ms-border-radius: 12.5px;
	-o-border-radius: 12.5px;
	border-radius: 12.5px;
}

.header-container .tasks h3 {
	color: #aaa;
}

.header-container .tasks h3,
.header-container .tasks dd {
	margin-right: 10px;
}

.header-container .tasks dd {
	font-weight: bold;
	margin-right: 1em;
}

.header-container .tasks dt {
	margin-right: 0.4em;
	font-weight: normal;
	text-transform: lowercase;
}

article {
	z-index: 0;
	position: absolute;
}

article > img {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -46px;
	padding: 20px;
	border: 10px solid #111;
	background-color: #aaa;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	-ms-border-radius: 45px;
	-o-border-radius: 45px;
	border-radius: 45px;
}

article > img.active {
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	background-position: 5px -235px;
}

article hgroup h1 {
	font-weight: bold;
	font-size: 18px;
}

article hgroup h2 {
	font-size: 14px;
}

article hgroup {
	margin-left: 70px;
	padding: 10px 20px;
	background-color: #111;
	color: #fff;
}

article hgroup,
article li {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

article li {
	position: absolute;
	padding: 12px 15px;
	width: 250px;
	border: 3px solid #aaa;
	background-color: #fff;
}

article ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

article .meta {
	margin: 0;
	overflow: hidden;
}

article .description {
	overflow: hidden;
	margin: 0 0 6px;
}

article .meta .owner,
article .meta form {
	float: left;
}

article .meta .owner {
	position: relative;
	color: #676767;
	padding: 7px 10px 0 20px;
	margin: 0;
}

article .meta a {
		
}

article .meta img {
	position: absolute;
	top: 7px;
	left: 0;
}

.dashboard-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.dashboard,
.lightbox-inner {
	position: absolute;
	background-color: rgba(230, 230, 230, 0.95);
	border: 1px solid rgba(180, 180, 180, 1);
	padding: 20px;
}

.dashboard {
	z-index: 1;
	top: 40px;
	right: 0;
	width: 200px;
	border-top: none;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-ms-border-radius: 0 0 0 5px;
	-o-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.dashboard .notifications {
	padding: 15px 13px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.dashboard .notifications li {
	margin-bottom: 10px;
	padding-left: 15px;
	background: url(../images/sprites.png) no-repeat 0 -58px;
}

.dashboard .notifications li:last-child {
	margin-bottom: 0;
}

.dashboard .quicklinks {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.dashboard .last {
	padding-bottom: 0;
	border-bottom: 0;
}

.dashboard .quicklinks h1 {
	text-align: left;
	font-size: 18px;
	color: #444;
	margin-bottom: 15px;
}

.dashboard .quicklinks p {
	margin: 0;
	padding: 0;
}

.dashboard .quicklinks ul {
	margin: 10px 0;
}

.dashboard .quicklinks li {
	padding: 3px 0;
}

.dashboard .quicklinks .current {
	background: #fafafa;
}

.dashboard .quicklinks .info {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 17px;
	width: 17px;
	text-indent: -900em;
	background: url(../images/sprites.png) no-repeat 0 -150px;
	border: none;
}

.js .dashboard .quicklinks .help {
	display: none;
	position: absolute;
	top: 20px;
	right: -90px;
	width: 180px;
	padding: 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	/*opacity: 0;
	-webkit-transition: 0.3s ease-out opacity;*/
}

.js .dashboard .quicklinks .active {
	display: block;
	/*opacity: 1;*/
}

.dashboard footer p {
	margin: 0;
}

.dashboard footer a {
	border-bottom: 1px solid;
}

.dashboard footer a:hover,
.dashboard footer a:focus {
	color: #333;
}

.dashboard footer a:active {
	color: #000;
}

.dashboard footer .statistics {
	position: relative;
	padding-left: 60px;
}

.dashboard footer .statistics img {
	position: absolute;
	left: 0;
	top: 0;
}

.dashboard footer .statistics em {
	display: block;
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 1;
}

.dashboard footer nav {
	margin: 10px 0;
}

.dashboard footer nav li {
	display: inline-block;
	margin-right: 10px;
}

.detail {
	background-color: #333;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 15px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.detail,
.detail a,
.detail .quicklinks h1 {
	color: #fff;
}

.detail h1 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
}

.detail .back,
.detail .close {
	position: absolute;
	top: 13px;
	right: 10px;
}

.detail .back {
	top: 13px;
	left: 8px;
	right: auto;
	padding-left: 10px;
	background: url(../images/sprites.png) no-repeat 0 -27px;
}

.detail .profile {
	overflow: hidden;
	margin-bottom: 20px;
}

.detail .profile img {
	float: left;
	margin: 0 10px 15px 0;
}

.detail .profile p {
	float: left;
	margin: 0;
}

.detail .profile .name {
	font-weight: bold;
}

.detail .profile dl {
	margin: 0;
}

.detail .profile dt {
	font-weight: bold;
	clear: left;
}

.detail .profile dt:first-child {
	clear: none;
}

.detail .profile dd {
	margin: 0 0 15px;
}

.detail .quicklinks .current {
	background-color: #aaa;
}

.detail .list {
	position: relative;
	color: #333;
	background-color: #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.detail .list h1 {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 0;
}

.detail .list a {
	color: #333;
}

.detail .list > .action {
	position: absolute;
	top: 4px;
	right: 4px;
}

.detail .listing-wrapper {
	color: #5a5a5a;
	background-color: #fff;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-ms-border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.detail .listing-wrapper li,
.detail nav.listing-wrapper a {
	display: block;
	padding: 10px;
}

.detail .listing-wrapper li {
	border-bottom: 1px solid;
}

.detail nav.listing-wrapper li {
	padding: 0;
}

.detail nav.listing-wrapper li {
	background: url(../images/list-arrow.png) no-repeat right center;
}

.detail nav.listing-wrapper li:hover {
	background-color: #efefef;
}

.detail nav.listing-wrapper a:hover,
.detail .listing-wrapper li:last-child {
	border-bottom: none;
}

.detail .listing-wrapper li p {
	margin: 0 0 3px;
}

.detail .listing-wrapper li button,
.detail .listing-wrapper li .button {
	float: left;
	margin-right: 3px;
}

.lightbox {
	display: none;
	opacity: 0;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition: opacity 200ms ease-in;
}

.lightbox.fade-in {
	opacity: 1;
}

.lightbox.show {
	display: block;
}

.lightbox .lightbox-inner {
	z-index: 100;
	position: fixed;
	top: 100px;
	left: 50%;
	width: 460px;
	margin-left: -250px;
	border-width: 4px;
	border-color: #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #efefef;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.lightbox .close {
	position: absolute;
	top: 10px;
	right: 10px;
}
