screenshot.png
.DS_Store
*.pyc
web/local_settings.py
.Python
bin/
/build/
include/
lib/
man/
tasket.db
web/tasket
web/pip-log.txt
client/media/cache
client/media/images/*/*
rebuild_db.sh
/web/node_modules
Imaging-*
