screenshot.png
.DS_Store
*.pyc
web/local_settings.py
web/build/
.Python
bin/
client/media/js/build/pkg/html5.js
client/media/js/build/pkg/tasket.all.js
client/media/js/build/pkg/tasket.loader.js
include/
lib/
man/
tasket.db
web/tasket
web/pip-log.txt
client/media/cache
client/media/images/*/*
rebuild_db.sh
web/node_modules
Imaging-*
