/screenshot.png
.DS_Store
*.pyc
/web/local_settings.py
/web/build/
/web/pip-log.txt
.Python
/bin/
/include/
/lib/
/man/
Imaging-*

# South migrations
#server/tasks/migrations/

# Backups
web/tasks-backup-*

# local db
tasket.db
web/tasket

# npm modules
web/node_modules

# PIL-generated images
client/media/cache/
client/media/images/

# Unminified built files
client/media/tank/build/pkg/html5.js
client/media/tank/build/pkg/tasket.tank.js
client/media/tank/build/pkg/tasket.tank.loader.js
