/*
----------------------------------------------
 Toodledoo IE6 Styles
 Developed by Ollie Bettany / Dharmafly
 Created: 13/06/2011
----------------------------------------------
*/

  header {
    height: 110px;
  }
  
  aside nav {
    width: 25em;
  }

  #mainnav li.first, 
  footer nav li.first {
    background: none;
    margin: 0;
    padding: 0;
  } 
  
  #content .item-list li {
    border-bottom: 1px solid #CCCCCC;
    line-height: 1.8em;
    padding: 10px 0 10px 120px;
    position: relative;
  }
  
  #content .item-list li .edit-item li {
     border: 0;
     padding: 0;
     position: absolute;
  }
  
  /*
  footer nav ul,
  footer nav p {
    padding-bottom: 10px;
  }
  */
