/*
----------------------------------------------
 Toodledoo IE7 Styles
 Developed by Ollie Bettany / Dharmafly
 Created: 13/06/2011
----------------------------------------------
*/

  #content {
    width: 100%;
    float: left;
    clear: none;
  }