{% comment %}
    Vars:
        user - a user object, can access profile fields using user.profile.[fieldname]
        email - the user's email address
        domain - the domain of the active site (see INSTALL)
        site_name - the site name of the active site (see INSTALL)
        uid - User ID in base36
        token - the token that will form the unique request
        protocol - http or https
{% endcomment %}
TASKET
======

Hi {{ user.profile.name }}, 

Here is a link to reset the password for your username, {{ user.profile.username }} on {{ site_name }}:
_(If you did not request this reset link then please ignore this message)._

{{ protocol }}://{{ domain }}{% url password_reset uid token %}