body {
    margin:0;
    padding:0.38em 1.62em;
    position:relative;
}

header h1 {
    position:absolute;
    top:0.38em;
    left:0.38em;
    z-index:1;
    font-size:1.62em;
    opacity:0.38;
}

.board, .viz, .content {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

aside.profile {
    float:right;
}

footer {
    clear:both;
}

article.task {
    font-size:0.62em;
    border:1px solid #ccc;
    padding:0.16em 1em 0.16em 24px;
    margin:-5px 0 0 -5px;
    color:#555;
    max-width:20em;
    float:left;
    position:absolute;
    top:0;
    left:0;
}
article.task:hover {
    cursor:pointer;
    color:#070;
}
article.task.visible {
    background-color:#ffc;
    z-index:1;
}
article.task div.desc {
    display:none;
    margin-bottom:0.38em;
    font-size:1.38em;
}

article.task h1 {
    margin:0;
}
