/* @group Base Elements
-----------------------------------------------------------------------------*/

html {
	/* Set the font-size so 1em == 10px (Assuming a default browser font-size of 16px) */
	font: 62.5%/1.6em Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #333;
	background-color: #ececec; /* Fallback for non-gradient supporting browsers */
	background-image: -webkit-gradient(
		radial, center center, 0, center center, 480, from(#fff), to(#dedede)
	);
	background-image: -moz-radial-gradient(
	    center center, #fff, #dedede
	);
	background-image: -webkit-radial-gradient(
	    center center, #fff, #dedede
	);
	background-image: radial-gradient(
	    center center, #fff, #dedede
	);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html.linear {
	background-image: -webkit-gradient(
  		linear, left top, left bottom, from(#fff), to(#dedede)
	);
	background-image: -moz-linear-gradient(
	    -90deg, #fff, #dedede
	);
	background-image: -webkit-linear-gradient(
	    -90deg, #fff, #dedede
	);
	background-image: linear-gradient(
	    -90deg, #fff, #dedede
	);
}

body {
	margin: 0;
	height: 100%;
	font-size: 1.3em; /* Base font size 13px */
}

header, hgroup, footer, section, article, nav {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}

p {
	margin: 0.923em /* 12px */ 0;
}

a, a:visited{
	color: #555;
	text-decoration: none;
}

a:hover, a:active, a:focus,
.link:hover, .link:active, .link:focus {
	border-bottom: 1px solid;
}

img {
	border: none;
}

.form-button {
	display: inline-block;
}

button, .button, .button:visited {
	font-size: 1em /* 13px */;
	text-shadow: 0 1px 1px #000;
	line-height: 1.923em /* 25px */;
	min-height: 1.923em /* 25px */;
	color: #fff;
	display: inline-block;
	padding: 0 0.8667em /* 15px */;
	border: none;
	background-color: #232323;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#101010), to(#232323)
	);
	background-image: -moz-linear-gradient(
	    90deg, #101010, #232323
	);
	background-image: -webkit-linear-gradient(
	    90deg, #101010, #232323
	);
	background-image: linear-gradient(
	    90deg, #101010, #232323
	);
	-webkit-border-radius: 0.231em /* 3px */;
	-moz-border-radius: 0.231em /* 3px */;
	-ms-border-radius: 0.231em /* 3px */;
	-o-border-radius: 0.231em /* 3px */;
	border-radius: 0.231em /* 3px */;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

/* Fix line-height bug in FF & Opera 
   http://www.cssnewbie.com/input-button-line-height-bug/
 */
button {
	line-height: 1.386em /* 18px */;
	padding-top: 0.231em /* 3px */;
	padding-bottom: 0.308em /* 4px */;
}

button:hover, button:focus,
.button:hover, .button:focus {
	background-color: #444;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#232323), to(#444)
	);
	background-image: -moz-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: -webkit-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: linear-gradient(
	    90deg, #232323, #444
	);
	border: none;
}

button:active, .button:active {
	color: #454545;
	text-shadow: 0 -1px 0 #000;
	background-color: #111;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#000), to(#111)
	);
	background-image: -moz-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: -webkit-linear-gradient(
	    90deg, #232323, #444
	);
	background-image: linear-gradient(
	    90deg, #232323, #444
	);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
}

button.link {
	padding: 0;
	font-size: 1em /* 13px */;
	text-shadow: none;
	line-height: 1.231em /* 16px */;
	min-height: 0;
	background: none;
	border: none;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.action, a:link.action {
	color: #484848;
	text-shadow: none;
	min-height: 1.769em /* 23px */;
	background-color: #ececec;
	background-repeat: no-repeat;
	background-position: 30px 30px, 0 0;
	background-image: url(../images/sprites.png);
	background-image:
	url(../images/sprites.png),
	-webkit-gradient(
  		linear, left bottom, left top, from(#e2e5e5), to(#fefefe)
	);
	background-image:
	url(../images/sprites.png),
	-moz-linear-gradient(
	    90deg, #e2e5e5, #fefefe
	);
	background-image:
	url(../images/sprites.png),
	-webkit-linear-gradient(
	    90deg, #e2e5e5, #fefefe
	);
	background-image:
	url(../images/sprites.png),
	linear-gradient(
	    90deg, #e2e5e5, #fefefe
	);
	border: 1px solid #8f9397;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ie .action,
.ie a:link.action,
.ie .action:hover,
.ie a:hover.action,
.ie .action:focus,
.ie a:focus.action,
.ie .action:active,
.ie a:active.action {
	background-image: url(../images/sprites.png);
}

.action:hover, a:hover.action,
.action:focus, a:focus.action {
	background-color: #ececec;
	background-image:
	url(../images/sprites.png),
	-webkit-gradient(
  		linear, left bottom, left top, from(#ececec), to(#fff)
	);
	background-image:
	url(../images/sprites.png),
	-moz-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	-webkit-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	linear-gradient(
	    90deg, #fafafa, #fff
	);
	border: 1px solid #a3a3a3;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.0.5);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ie .action:hover, a:hover.action,
.ie .action:focus, a:focus.action {
	background-color: #fafafa;
}
  
.action:active, a:active.action {
	color: #555;
	background-color: #ccc;
	text-shadow: none;
	background-image:
	url(../images/sprites.png),
	-webkit-gradient(
  		linear, left bottom, left top, from(#bbb), to(#ccc)
	);
	background-image:
	url(../images/sprites.png),
	 -moz-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	-webkit-linear-gradient(
	    90deg, #fefefe, #fff
	);
	background-image:
	url(../images/sprites.png),
	linear-gradient(
	    90deg, #fafafa, #fff
	);
	border: 1px solid #a3a3a3;
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.ie .action:active, a:active.action {
	background-color: #fefefe;
}

a.action.edit,
.action.delete,
.action.close,
a.action.locate {
	display: inline-block;
	text-indent: -999em;
	padding: 0;
	width: 17px;
	height: 17px;
	min-height: 17px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

a.action.edit {
	background-position: 3px -88px, 0 0;
}

.ie a.action.edit {
	background-position: 3px -88px;
}

.action.close, .action.delete {
	background-position: 4px -116px;
	background-position: 4px -116px, 0 0;
}

.ie .action.close,
.ie .action.delete {
	background-position: 4px -116px;
}

a.action.locate {
	position: relative;
	top: 1px;
	width: 23px;
	height: 23px;
	background-position: 2px -178px, 0 0;
}

.ie a.action.locate {
	background-position: 2px -178px;
}

/* Tank task & hub controls */

.admin-actions {
	float: right;
}

.admin-actions a {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/sprites.png?a) 0 -480px;
	text-indent: -900em;
	opacity: 0;
	-webkit-transition: opacity 0.15s ease-in;
	-moz-transition: opacity 0.15s ease-in;
	-ms-transition: opacity 0.15s ease-in;
	-o-transition: opacity 0.15s ease-in;
	transition: opacity 0.15s ease-in;
}

:hover > .admin-actions a {
	opacity: 0.7;
}

.admin-actions a.add {
	background-position: 0 -420px;
}

.admin-actions a:hover {
	border: none;
	opacity: 1;
}

.task .admin-actions a.edit {
	background-position: 0 -390px;
}

/* List reset */

nav ul,
form ul,
.listing {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Content Elements
-----------------------------------------------------------------------------*/

.content h1,
.content h2,
.content h3 {
	font-weight: bold;
	font-size: 1.384em /* 18px */;
	/* Pull the bottom border in line with the close button */
	margin: 1.538em /* 20px */ -0.679em /* 10px */ 1.538em /* 20px */ 0;
	padding-bottom: 0.679em /* 10px */;
	border-bottom: 1px solid #ccc;
}

.content h1 {
	margin-top: 0;
}

.content h2 {
	font-size: 1.231em /* 16px */;
}

.content h3 {
	font-size: 1.077em /* 14px */;
	border: none;
}

.content strong {
	font-weight: bold;
}

.content em,
.content blockquote {
	font-style: italic;
}

.content blockquote {
	padding-left: 0.615em /* 8px */;
	margin-left: -0.615em /* -8px */;
	border-left: 1px solid #ccc;
}

.content code {
	font-family: monospace;
}

.content form {
	width: 23.077em /* 300px */;
	max-width: 100%;
}

.content form li {
	margin-bottom: 0.769em /* 10px */;
}

.content form .error strong {
	color: #ce0300;
}

.content form .error input,
.content form .error textarea,
.content form input:invalid,
.content form textarea:invalid  {
	background-color: rgb(255, 234, 239);
	border-color: rgb(255, 188, 192);
	color: rgb(184, 26, 26);
}

.content form label,
.content form input,
.content form textarea {
	display: block;
}

.content form label {
	font-weight: bold;
	line-height: 1.5;
}

.content form input,
.content form textarea,
.content form select {
	border: 1px solid #ccc;
	padding: 0.461em /* 4px */;
	font-size: 1em /* 13px */;
	width: 22.307em /* 290px */;
	max-width: 100%;
}

.content form textarea {
	/* Fixes an issue in FF where the font size is reset */
	font: 13px/1.6em Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

.content form select {
	width: 23.077em /* 300px */;
}

.content form .actions {
	text-align: right;
	position: relative;
}

.content form .actions .note {
	text-align: left;
	position: absolute;
	top: 0;
	margin: 0;
	line-height: 2.153em /* 28px */;
}

.content form .actions .note a.delete {
	font-weight: bold;
	color: #C92D2D;
}

/* @end */

/* @group Header
-----------------------------------------------------------------------------*/

.header-container {
	z-index: 999999;
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	background-color: #333;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#101010), to(#323232)
	);
	background-image: -moz-linear-gradient(
	    90deg, #101010, #323232
	);
	background-image: -webkit-linear-gradient(
	    90deg, #101010, #323232
	);
	background-image: linear-gradient(
	    90deg, #101010, #323232
	);
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #000;
	-ms-box-shadow: 0 0 3px #000;
	-o-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
}

.header-container header {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	line-height: 3.077em /* 40px */;
}

.header-container h1,
.header-container h2,
.header-container h3,
.header-container nav,
.header-container nav ul,
.header-container nav li,
.header-container div,
.header-container dl,
.header-container dt,
.header-container dd {
	display: inline-block;
	margin: 0;
	text-shadow: 0 1px 0 #000;
}

.header-container,
.header-container a {
	color: #fff;
}

.header-container,
.header-container a {
	color: #fff;
}

.header-container h1 {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1.538em /* 20px */;
}

.header-container nav {
	margin-left: 25%;
	float: left;
}

.header-container nav li {
	margin-left: 2.154em /* 28px */;
}

.header-container nav li:first-child {
	margin-left: 0;
}

.header-container nav a {
	font-size: 1.077em /* 14px */;
}

.header-container .login {
	position: absolute;
	top: 0;
	right: 0;
}

.header-container .login form {
	display: none;
}

.header-container nav .login a,
.header-container nav .login button {
	font-size: 0.923em /* 12px */;
}

.header-container h2,
.header-container .login a,
.header-container .login button {
	color: #ccc;
}

.header-container h2 {
	margin-right: 60px;
	padding: 0 0.769em /* 10px */ 0 0.615em /* 8px */;
	border: 1px solid black;
	-webkit-border-radius: 0.231em /* 3px */;
	-moz-border-radius: 0.231em /* 3px */;
	-ms-border-radius: 0.231em /* 3px */;
	-o-border-radius: 0.231em /* 3px */;
	border-radius: 0.231em /* 3px */;
	line-height: 23px;
}

.header-container h2 img {
	position: relative;
	top: 3px;
	margin-right: 2px;
}

.header-container h2,
.header-container .tasks {
	margin-top: 0.615em /* 8px */;
	float: right;
	display: none;
}

.header-container .tasks {
	margin-right: 1.077em /* 14px */;
	padding: 0 0.923em /* 12px */;
	line-height: 1.923em /* 25px */;
	background-color: #000;
	background-image: -webkit-gradient(
  		linear, left bottom, left top, from(#111), to(#000)
	);
	background-image: -moz-linear-gradient(
	    90deg, #111, #000
	);
	background-image: -webkit-linear-gradient(
	    90deg, #111, #000
	);
	background-image: linear-gradient(
	    90deg, #111, #000
	);
	-webkit-border-radius: 0.962em /* 12.5px */;
	-moz-border-radius: 0.962em /* 12.5px */;
	-ms-border-radius: 0.962em /* 12.5px */;
	-o-border-radius: 0.962em /* 12.5px */;
	border-radius: 0.962em /* 12.5px */;
}

.header-container .tasks h3 {
	color: #aaa;
}

.header-container .tasks h3,
.header-container .tasks dd {
	margin-right: 0.769em /* 10px */;
}

.header-container .tasks dd {
	font-weight: bold;
	margin-right: 1em;
}

.header-container .tasks dt {
	margin-right: 0.4em;
	font-weight: normal;
	text-transform: lowercase;
}

/* @end */

/* @group Task Widget
-----------------------------------------------------------------------------*/

article.hub {
	z-index: 0;
	position: absolute;
	min-width:20.7em; /* allows hgroup to extend to fill width */
}
body.hubSelected article.hub.select {
    opacity:1;
}
body.hubSelected article.hub {
	opacity:0.5;
}

article.hub a.nucleus-wrapper {
	display: block;
	position: absolute;
	left: 0;
	width: 30px;
	height: 30px;
	padding: 1.6em;
	border: 0.8em solid #111;
	margin-left: -3.4em; /* (width / 2) + padding + border-width */
	margin-top: -3.4em; /* (height / 2) + padding + border-width */
	background-color: #aaa;
	-webkit-border-radius: 4em;
	-moz-border-radius: 4em;
	-ms-border-radius: 4em;
	-o-border-radius: 4em;
	border-radius: 4em;
	z-index: 2; /* start above the hub description */
	outline:none;
}

article.hub.loading a.nucleus-wrapper::after {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	height: 30px;
	width: 30px;
	content: "";
	background: url(../images/hub-spinner.gif) no-repeat center center;
	opacity: 0.7;
}

article.hub a.nucleus-wrapper img {
  display: block;
  width: 30px;
  height: 30px;
}

article.select a.nucleus-wrapper {
	background-image: url(../images/hub-selected.png);
	background-repeat: no-repeat;
	background-position: center center;
}

article.hub > hgroup {
    margin-top: -2em; /* This is later changed, via JavaScript to be .outerHeight() / 2  */
    position: absolute;
	margin-left: 0;
	min-width: 10em;
	padding: 0.8em 0.8em 0.8em 4em;
	background-color: #111;
	color: #fff;
	z-index: 1; /* Place this above the canvas element */
}

article.hub > div.tasks {
    position:absolute;
}

article.hub > div.tasks > canvas {
    position:absolute;
    top:0;
    pointer-events:none; /* TODO: in browsers that don't support pointer-events, the canvas element may obstruct user clicks on hubs underneath */
}

article.hub > div.tasks > ul {
	margin: 0;
	padding:0;
	list-style-type: none;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
}

article.hub > div.tasks > ul > li {
	position: absolute;
	padding: 0.923em /* 12px */ 1.154em /* 15px */;
	width: 19.321em /* 250px */;
	border: 0.23075em /* 3px */ solid #aaa;
	background-color: #fff;
	height:6.4em; /* TODO: verify */
}

article.hub > hgroup h1 {
	font-weight: bold;
	font-size: 1.385em /* 18px */;
}

article.hub > hgroup h1 span {
	font-size: 0.6em;
}

article.hub > hgroup h2 {
	font-size: 1.077em /* 14px */;
}

article.hub > hgroup,
article.hub > div.tasks > ul > li {
	-webkit-border-radius: 0.385em /* 5px */;
	-moz-border-radius: 0.385em /* 5px */;
	-ms-border-radius: 0.385em /* 5px */;
	-o-border-radius: 0.385em /* 5px */;
	border-radius: 0.385em /* 5px */;
}

article.hub .meta {
	margin: 0;
	overflow: hidden;
}

article.hub .description {
	overflow: hidden;
	margin: 0 0 0.461em /* 6px */;
}

article.hub .description .estimate {
	color: #888;
}

article.hub .meta .claimedBy,
article.hub .meta form {
	float: left;
}

article.hub .meta .claimedBy {
	position: relative;
	color: #676767;
	padding: 0.538em /* 7px */ 0.769em /* 10px */ 0 1.538em /* 20px */;
	margin: 0;
}

article.hub .meta a {
		
}

article.hub .meta img {
	position: absolute;
	top: 7px;
	left: 0;
}

/* @end */

/* @group Dashboard
-----------------------------------------------------------------------------*/

.dashboard,
.lightbox-inner {
	position: absolute;
	background-color: #e6e6e6;
	background-color: rgba(230, 230, 230, 0.95);
	border: 1px solid #b4b4b4;
	border-color: rgba(180, 180, 180, 1);
	padding: 1.538em /* 20px */;
}

.dashboard {
	position: fixed;
	z-index: 999998;
	top: 3.077em /* 40px */;
	right: 20px;
	bottom: 20px;
	width: 15.385em /* 200px */;
	overflow: auto;
	overflow-x: hidden;
	border-top: none;
	-webkit-border-radius: 0 0 0.385em 0.385em /* 5px */;
	-moz-border-radius: 0 0 0.385em 0.385em /* 5px */;
	-ms-border-radius: 0 0 0.385em 0.385em /* 5px */;
	-o-border-radius: 0 0 0.385em 0.385em /* 5px */;
	border-radius: 0 0 0.385em 0.385em /* 5px */;
}

.dashboard.detail-active {
	overflow: hidden;
}

.dashboard.detail-active > * {
	visibility: hidden; /* Hide content in background */
}

.dashboard.detail-active .detail {
	visibility: visible;
}

.dashboard .notifications {
	padding: 1.154em /* 15px */ 1em /* 13px */;
	margin-bottom: 1.538em /* 20px */;
	background-color: #ececec;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid #bcbcbc;
	border-color: rgba(0, 0, 0, 0.2);
}

.dashboard .notifications li {
	position: relative;
	margin-bottom: 0.769em /* 10px */;
	padding-left: 1.154em /* 15px */;
}

.dashboard .notifications li.last,
.dashboard .notifications li:last-child {
	margin-bottom: 0;
}

.dashboard .notifications li::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 3px;
	background: url(../images/sprites.png) no-repeat 0 -60px;
}

.dashboard .quicklinks {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1.538em /* 20px */;
	margin-bottom: 1.538em /* 20px */;
}

.dashboard .last {
	padding-bottom: 0;
	border-bottom: 0;
}

.dashboard .quicklinks h1 {
	text-align: left;
	font-size: 1.385em /* 18px */;
	color: #444;
	margin-bottom: 1.154em /* 15px */;
}

.dashboard .quicklinks p {
	margin: 0;
	padding: 0;
}

.dashboard .quicklinks ul {
	margin: 0.769em /* 10px */ 0;
}

.dashboard .quicklinks li {
	position: relative;
	padding: 0.231em /* 3px */ 16px 0.231em 0;
}

.dashboard .quicklinks .current {
	background: #fafafa;
}

.dashboard .quicklinks li button,
.dashboard .quicklinks li .button {
	position: absolute;
	top: 50%;
	right: 0;
	color: #333;
	text-shadow: none;
	text-indent: -900em;
	line-height: 1;
	margin-top: -8px;
	padding: 0;
	height: 16px;
	width: 16px;
	min-height: 0;
	background: transparent url(../images/sprites.png?cache) 0 -327px;
	opacity: 0.15;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.dashboard .quicklinks li .add {
	background-position: 0 -360px;
}

.dashboard .quicklinks li button:hover,
.dashboard .quicklinks li button:focus,
.dashboard .quicklinks li .button:hover,
.dashboard .quicklinks li .button:focus {
  opacity: 0.8;
}

.dashboard .quicklinks li button:active,
.dashboard .quicklinks li .button:active {
  opacity: 1;
}

.dashboard .quicklinks.my-projects ul.listing li.select a {
	border-bottom: 1px solid;
}

.dashboard .quicklinks .info {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 17px;
	width: 17px;
	text-indent: -900em;
	background: url(../images/sprites.png) no-repeat 0 -150px;
	border: none;
}

.js .dashboard .quicklinks .help {
	position: absolute;
	top: 20px;
	right: -5px;
	width: 13.846em /* 180px */;
	padding: 0.679em /* 10px */;
	color: #fff;
	z-index: 2;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 0.385em /* 5px */;
	-moz-border-radius: 0.385em /* 5px */;
	-ms-border-radius: 0.385em /* 5px */;
	-o-border-radius: 0.385em /* 5px */;
	border-radius: 0.385em /* 5px */;
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.3s, 0.2s;
	-webkit-transform: scale(0);
	-webkit-transform-origin: 13.846em /* 180px */ 0;
	-moz-transition-property: opacity, -webkit-transform;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 0.3s, 0.2s;
	-moz-transform: scale(0);
	-moz-transform-origin: 13.846em /* 180px */ 0;
	-ms-transition-property: opacity, -webkit-transform;
	-ms-transition-timing-function: ease-in-out;
	-ms-transition-duration: 0.3s, 0.2s;
	-ms-transform: scale(0);
	-ms-transform-origin: 13.846em /* 180px */ 0;
	-o-transition-property: opacity, -webkit-transform;
	-o-transition-timing-function: ease-in-out;
	-o-transition-duration: 0.3s, 0.2s;
	-o-transform: scale(0);
	-o-transform-origin: 13.846em /* 180px */ 0;
	transition-property: opacity, -webkit-transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s, 0.2s;
	transform: scale(0);
	transform-origin: 13.846em /* 180px */ 0;
}

.js.ie .dashboard .quicklinks .help {
	display: none;
	background-color: transparent;
	background-image: url(../images/overlay-90.png);
}

.js .dashboard .quicklinks .active {
	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
	opacity: 1;
}

.js.ie .dashboard .quicklinks .active {
	display: block;
}

.dashboard footer p {
	margin: 0;
}

.dashboard footer a {
	border-bottom: 1px solid;
}

.dashboard footer a:hover,
.dashboard footer a:focus {
	color: #333;
}

.dashboard footer a:active {
	color: #000;
}

.dashboard footer .statistics {
	position: relative;
	
	/* TODO: TEMPORARY chart image padding */
	/* padding-left: 60px; */
}

.dashboard footer .statistics img {
	position: absolute;
	left: 0;
	top: 0;
	
	/* TODO: TEMPORARY chart image */
	display:none;
}

.dashboard footer .statistics em {
	display: block;
	font-size: 3.692em /* 48px */;
	font-style: normal;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 1;
}

.dashboard footer nav {
	margin: 0.679em /* 10px */ 0;
}

.dashboard footer nav li {
	display: inline-block;
	margin-right: 0.679em /* 10px */;
}

/* Dharmafly */
.dashboard footer a.df {
    text-decoration:none;
    border:none;
    padding-top:0.16em;
    display:block;
}
.dashboard footer a.df span.df-name {
    font-family:Calibri,Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
.dashboard footer a.df:hover {
    color:#70873f;
}
.dashboard footer a.df:hover span.df-name {
    border-bottom-width:1px;
    border-bottom-style:solid;
}

/* @group Dashboard Detail Styles
-----------------------------------------------------------------------------*/

.detail {
	display: none;
	background-color: #333;
	overflow: auto;
	overflow-x: hidden;
	position: fixed;
	top: 3.846em /* 50px */;
	bottom: 30px;
	right: 30px;
	width: 15.76em /* 205px */;
	padding: 1.154em /* 15px */ 0.679em /* 10px */;
	-webkit-border-radius: -0.154em /* -2px */;
	-moz-border-radius: -0.154em /* -2px */;
	-ms-border-radius: -0.154em /* -2px */;
	-o-border-radius: -0.154em /* -2px */;
	border-radius: -0.154em /* -2px */;
}

.detail.show {
	display: block;
}

.detail,
.detail a,
.detail .quicklinks h1 {
	color: #fff;
}

.detail h1 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
}

.detail .back,
.detail .close {
	position: absolute;
	top: 13px;
	right: 10px;
}

.detail .back {
	top: 13px;
	left: 8px;
	right: auto;
	padding-left: 0.679em /* 10px */;
	background: url(../images/sprites.png) no-repeat 0 -27px;
}

.detail .profile {
	overflow: hidden;
	margin-bottom: 20px;
}

.detail .profile img {
	float: left;
	margin: 0 0.679em /* 10px */ 1.154em /* 15px */ 0;
}

.detail .profile p {
	float: left;
	margin: 0;
}

.detail .profile .name {
	font-weight: bold;
}

.detail .profile dl {
	margin: 0;
}

.detail .profile dt {
	font-weight: bold;
	clear: left;
}

.detail .profile dt:first-child {
	clear: none;
}

.detail .profile dd {
	margin: 0 0 1.154em /* 15px */;
}

.detail .quicklinks .current {
	background-color: #aaa;
}

.detail .list {
	position: relative;
	color: #333;
	background-color: #000;
	-webkit-border-radius: -0.154em /* -2px */;
	-moz-border-radius: -0.154em /* -2px */;
	-ms-border-radius: -0.154em /* -2px */;
	-o-border-radius: -0.154em /* -2px */;
	border-radius: -0.154em /* -2px */;
}

.detail .list h1 {
	color: #fff;
	font-size: 1.077em /* 14px */;
	font-weight: normal;
	line-height: 2.692em /* 35px */;
	margin-bottom: 0;
}

.detail .list a {
	color: #333;
}

.detail .list > .action {
	position: absolute;
	top: 4px;
	right: 4px;
}

.detail .listing-wrapper {
	color: #5a5a5a;
	background-color: #fff;
	-webkit-border-radius: 0 0 -0.154em /* -2px */ -0.154em /* -2px */;
	-moz-border-radius: 0 0 -0.154em /* -2px */ -0.154em /* -2px */;
	-ms-border-radius: 0 0 -0.154em /* -2px */ -0.154em /* -2px */;
	-o-border-radius: 0 0 -0.154em /* -2px */ -0.154em /* -2px */;
	border-radius: 0 0 -0.154em /* -2px */ -0.154em /* -2px */;
}

.detail .listing-wrapper li,
.detail nav.listing-wrapper a {
	display: block;
	padding: 0.679em /* 10px */;
}

.detail .listing-wrapper li {
	border-bottom: 1px solid;
}

.detail nav.listing-wrapper li {
	padding: 0;
}

.detail nav.listing-wrapper li {
	background: url(../images/list-arrow.png) no-repeat right center;
}

.detail nav.listing-wrapper li:hover {
	background-color: #efefef;
}

.detail nav.listing-wrapper a:hover,
.detail .listing-wrapper li:last-child {
	border-bottom: none;
}

.detail .listing-wrapper li p {
	margin: 0 0 0.231em /* 3px */;
}

.detail .listing-wrapper li button,
.detail .listing-wrapper li .button {
	float: left;
	margin-right: 0.231em /* 3px */;
}

/* @end */
/* @end */

/* @group Lightbox
-----------------------------------------------------------------------------*/

.lightbox {
	display: none;
	opacity: 0;
	z-index: 1000000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	-ms-transition: opacity 200ms ease-in;
	-o-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}

.ie .lightbox {
	background-color: transparent;
	background-image: url(../images/overlay-90.png);
}

.lightbox.fade-in {
	opacity: 1;
}

.lightbox.show {
	display: block;
}

.lightbox .lightbox-inner {
	z-index: 100;
	position: fixed;
	top: 100px;
	left: 50%;
	width: 35.384em /* 460px */;
	max-height: 90%;
	margin-left: -19.230em /* -250px */;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	/* Need to use ems here so the lightbox remains centered */
	border-width: 0.308em /* 4px */;
	border-color: #aaa;
	-webkit-border-radius: 0.385em /* 5px */;
	-moz-border-radius: 0.385em /* 5px */;
	-ms-border-radius: 0.385em /* 5px */;
	-o-border-radius: 0.385em /* 5px */;
	border-radius: 0.385em /* 5px */;
	background-color: #efefef;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.ie .lightbox .lightbox-inner {
	position: absolute;
}

.lightbox .close {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* @end */

/* @group Notification
-----------------------------------------------------------------------------*/

.notification {
	position: fixed;
	height: 2.769em; /* 36px */
	top: -2.923em; /* 38px */
	left: 0;
	right: 0;
	padding: 0 20px;
	overflow: hidden;
	z-index: 100;
	background-color: rgb(25, 141, 6);
	background-image: url(../images/notification_stripes.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	background-image: url(../images/notification_stripes.png),
	-webkit-gradient(
		linear, left top, left bottom, 
		color-stop(0,   rgb(72, 164, 12)),
		color-stop(0.5, rgb(57, 156, 19)),
		color-stop(0.5, rgb(44, 150, 6)),
		color-stop(1,   rgb(25, 141, 6))
	);
	background-image: url(../images/notification_stripes.png),
	-moz-linear-gradient(
	    -90deg,
	    rgb(72, 164, 12),
		rgb(57, 156, 19) 50%,
		rgb(44, 150, 6)  50%,
		rgb(25, 141, 6)
	);
	background-image: url(../images/notification_stripes.png),
	linear-gradient(
	    -90deg,
	    rgb(72, 164, 12),
		rgb(57, 156, 19) 50%,
		rgb(44, 150, 6)  50%,
		rgb(25, 141, 6)
	);
	border-top: 1px solid rgb(90, 189, 26);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.2);
}

.notification.warning {
	background-color: rgb(216, 145, 0);
	background-image: url(../images/notification_stripes.png),
	-webkit-gradient(
		linear, left top, left bottom, 
		color-stop(0,   rgb(242, 173, 13)),
		color-stop(0.5, rgb(231, 167, 26)),
		color-stop(0.5, rgb(227, 156, 0)),
		color-stop(1,   rgb(216, 145, 0))
	);
	background-image: url(../images/notification_stripes.png),
	-moz-linear-gradient(
	    -90deg,
	    rgb(242, 173, 13),
		rgb(231, 167, 26) 50%,
		rgb(227, 156, 0)  50%,
		rgb(216, 145, 0)
	);
	background-image: url(../images/notification_stripes.png),
	linear-gradient(
	    -90deg,
	    rgb(242, 173, 13),
		rgb(231, 167, 26) 50%,
		rgb(227, 156, 0)  50%,
		rgb(216, 145, 0)
	);
	border-top: 1px solid rgb(254, 197, 64);
}

.notification.error {
	background-color: rgb(184, 26, 26);
	background-image: url(../images/notification_stripes.png),
	-webkit-gradient(
		linear, left top, left bottom, 
		color-stop(0,   rgb(211, 66, 66)),
		color-stop(0.5, rgb(202, 62, 62)),
		color-stop(0.5, rgb(195, 39, 39)),
		color-stop(1,   rgb(184, 26, 26))
	);
	background-image: url(../images/notification_stripes.png),
	-moz-linear-gradient(
	    -90deg,
		rgb(211, 66, 66),
		rgb(202, 62, 62) 50%,
		rgb(195, 39, 39) 50%,
		rgb(184, 26, 26)
	);
	background-image: url(../images/notification_stripes.png),
	linear-gradient(
	    -90deg,
		rgb(211, 66, 66),
		rgb(202, 62, 62) 50%,
		rgb(195, 39, 39) 50%,
		rgb(184, 26, 26)
	);
	border-top: 1px solid rgb(221, 102, 102);
}

.notification .notification-content {
	display: inline-block;
	font-size: 0.923em /* 12px */;
	font-weight: bold;
	line-height: 2.846em /* 37px */;
	color: rgb(255, 255, 255);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	padding: 0 4px 0 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	background: url(../images/notification_icons.png) no-repeat 0 -83px;
}

.notification.warning .notification-content,
.notification.error .notification-content  {
	background: url(../images/notification_icons.png) no-repeat 0 -35px;
}

.notification a {
	color: #fff;
	border-bottom: 1px solid;
}

.notification .close {
	position: absolute;
	top: 0.769em /* 10px */;
	right: 20px;
	width: 15px;
	height: 15px;
	min-height: 0;
	padding: 0;
	text-indent: -900em;
	border: none;
	background: transparent url(../images/notification_icons.png) repeat-x top left;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.dashboard,
.notification,
.header-container {
	-webkit-transition: top 0.25s ease-in-out;
	-moz-transition: top 0.25s ease-in-out;
	-o-transition: top 0.25s ease-in-out;
	transition: top 0.25s ease-in-out;
}

.show-notification .notification {
	top: 0;
}

.show-notification .header-container {
	top: 2.923em /* 38px */;
}

.show-notification .dashboard {
	top: 6em /* 72px */;
}

/* @end*/
