# -*- coding: utf-8 -*-
from global_settings import *

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        # For development:
        'ENGINE': 'django.db.backends.sqlite3',
        
        # For deployment:
        #'ENGINE': 'django.contrib.gis.db.backends.postgis', # Or use 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'
        
        'NAME': 'tasket',                # Database name, or path to database file if using sqlite3
        'USER': '',                      # Not used with sqlite3
        'PASSWORD': '',                  # Not used with sqlite3
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3
        'PORT':''
     }
}


# ! MAKE THIS False ON DEPLOY !
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# How many tasks a hub can have - for the Notepad app, use -1
TASK_LIMIT = 10

# How many tasks a user can claim - for the Notepad app, use -1
CLAIMED_LIMIT = 5

# Maximum task estimate
TASK_ESTIMATE_MAX = 14400

# Time limit on completing a task
CLAIMED_TIME_LIMIT = 72
DONE_TIME_LIMIT = 72

# Whether or not normal users can create hubs (admins can always create them)
USERS_CAN_CREATE_HUBS = True

# If a task is set to state "done" by its owner, then automatically verify it (see js/models/task.js)
AUTOVERIFY_TASKS_DONE_BY_OWNER = True

# Email messages from
DEFAULT_FROM_EMAIL = "Tasket Robot <tasket-robot@example.com>"

# Email routing
# EMAIL_PORT = 25
# EMAIL_HOST = "localhost"

# Turn CORS on or off (default: False)
# CROSS_DOMAIN = False

# All top-level pages that should be made accessible
INDEX_PATHS = ["tank.html", "notepad.html",]

# Uncomment the next line to change the default index files from tank.html to notepad.html
# DEFAULT_INDEX_FILE = "notepad.html"
